<!DOCTYPE html>
<!-- nagios check -->
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- Mobile viewport optimization h5bp.com/ad -->
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Internet Explorer use the highest version available -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
    <!--[if IEMobile]>
      <meta http-equiv="cleartype" content="on">
    <![endif]-->

    <title><%= render_page_title %></title>

    <!-- Author, Description, Favicon, and Keywords -->
    <meta name="author" content="WVU Libraries">

    <link rel="shortcut icon" href="https://wvrhc.lib.wvu.edu/favicon.ico">



    <!-- JavaScripts -->
    <%= javascript_include_tag "application" %>

    <!-- Hydra Code -->
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
    
  <body class="<%= render_body_class %>"><a name="top"></a>

    <%= render "shared/dashboard_header" %> 

    <!-- Hydra Piece -->
    <%= render partial: 'shared/ajax_modal' %>
    <div id="content-wrapper" role="main">
        <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>

        <!-- Hyrax sidebar -->
        <div class="sidebar minimized">
          <%= render 'hyrax/dashboard/sidebar' %>
        </div>

        <div class="row">
            <%= yield %>
        </div>
    </div>

    <%= render "shared/builtby_footer" %>
  </body>
</html>