<!-- Website Tab Bar -->
<div class="sticky-header">
  <div class="tbwrap">
      <div class="sticky-header-nav tabBar">
          <a id="menu-toggle">
              <%= image_tag("menu.svg", alt: "Menu Expand", id: "menu-toggle1") %>
              <%= image_tag("x.svg", alt: "Menu Close", id: "menu-toggle2") %>
          </a>
          <ul id="sticky-header-nav-menu" role="navigation">
              <li><a href="https://hyrax.lib.wvu.edu/"> Home </a></li>          
          </ul>
      </div>
      <div class="sticky-header-top tabBar">
          <a href="#top">
              <%= image_tag("top.svg", alt: "Back to Top") %>
          </a>
      </div>
      <div class="sticky-header-filter tabBar">
          <a id="facet-toggle">
              <%= image_tag("filter.svg", alt: "Filter Search Expand", id:
              "filter-toggle1") %>
              <%= image_tag("x.svg", alt: "Close Filter", id:
              "filter-toggle2") %>
          </a>
          <div class="sticky-header-filter-sidebar">
          </div>
      </div>
      <div class="sticky-header-search tabBar">
          <a id="search-toggle">
              <%= image_tag("search.svg", alt: "Search Expand", id: "search-toggle1") %>
              <%= image_tag("x.svg", alt: "Search Close", id:
              "search-toggle2") %>
          </a>

          <%= render_search_bar  %>
      </div>
  </div>
</div>