<!DOCTYPE html>
<!-- nagios check -->
<html lang="en" class="no-js">

<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- Mobile viewport optimization h5bp.com/ad -->
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Internet Explorer use the highest version available -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
    <!--[if IEMobile]>
      <meta http-equiv="cleartype" content="on">
    <![endif]-->

    <title><%= render_page_title %></title>

    <!-- Author, Description, Favicon, and Keywords -->
    <meta name="author" content="WVU Libraries">
 

    <link rel="shortcut icon" href="https://wvrhc.lib.wvu.edu/favicon.ico">

    <!-- External CSS: Helvetica & Font Awesome -->
    <link type="text/css" rel="stylesheet" href="https://fast.fonts.net/cssapi/36d8cd92-7cc7-499b-b169-0eed9d670283.css"></link>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" type="text/css" rel="stylesheet">

    <!-- Hydra Code -->

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
    <%= yield :head %>

    <!-- Share This -->
    <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=59ce811221dcc40012f170a4&product=inline-share-buttons' async='async'></script>

    </head>
    <body class="<%= render_body_class %>"><a name="top"></a>

    
    <%= render "shared/wvu_header" %> 
    <%= render "shared/hyrax_header" %>     
    <%= render "shared/navigation" %>
    
    <!-- Hydra Piece -->
    <%= render partial: 'shared/ajax_modal' %>
    <div id="main-container" class="container">
        <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
        <div class="row">
            <%= yield %>
        </div>
    </div>

    <%= render "shared/footer" %>    
    <%= render "shared/google_analytics" %>  

    <!-- JavaScripts -->
    <%= javascript_include_tag "application" %>

    <!-- Share This Integration -->
    <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=59ce7f4afeebe0001600e9c5&product=inline-share-buttons"></script>
    </body>
</html>